{% extends 'core/base.html' %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>Insira seus dados:</h1>
        <form class="form-group" action="/anonimo" method="POST">
            {% csrf_token %}
            <div class="row">
                    <label class="col-md-10">Token para acesso anônimo:</label>
                    <div class="input-group col-md-10">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <input type="text" name="token" class="form-control">
                    </div>
                </div>
            <div class="row">
                <label class="col-md-10">Brinco do animal:</label>
                <div class="input-group col-lg-6">
                    <span class="input-group-addon">
                        <i class="fa fa-asterisk"></i>
                    </span>
                    <input type="number" name="brinco_id" class="form-control">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-user-plus"></i>
                Verificar</button>
        </form>
    </div>
</div>

{% endblock %}