{% extends 'core/base.html' %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>Insira seus dados:</h1>
        <form class="form-group" action="/acessocnpj" method="POST">
            {% csrf_token %}
            <div class="row">
                <label class="col-md-10">CNPJ para listagem:</label>
                <div class="input-group col-lg-6">
                    <span class="input-group-addon">
                        <i class="fa fa-briefcase"></i>
                    </span>
                    <input type="number" name="cnpj" class="form-control">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-user-plus"></i>
                Verificar</button>
        </form>
    </div>
</div>

{% endblock %}