<!DOCTYPE html>
{% load staticfiles %}
<html lang="por">
<head>
    <meta charset="UTF-8">
    <title>Controle JetBov</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
</head>
<body>
<nav class="navbar navbar-expand bg-dark navbar-dark" id="navegation-bar">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link navbar-brand" href="/">
                JetBov
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:login' %}">Entrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:cadastro' %}">Cadastrar-se</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:anonimo' %}">
                <i class="fa fa-eye-slash"></i>
                Anônimo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:acessocnpj' %}">Via CNPJ</a>
        </li>

    </ul>

</nav>

    {% block body %}
    {% endblock %}

<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
</body>


</html>