{% extends 'core/base.html' %}

{% block body %}
{% load staticfiles %}
    <div class="jumbotron" id="container_cadastro">
            <h1>Cadastro</h1>
        <div class="container row">
            <form class="form-group col-md-6" action="/cadastro" method="POST">
                {% csrf_token %}
                <div class="row">
                    <label class="col-md-10">Empresa:</label>
                    <div class="input-group col-md-10">
                        <span class="input-group-addon">
                            <i class="fa fa-black-tie"></i>
                        </span>
                            {{ form.nome_empresa }}
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-10">Cnpj:</label>
                    <div class="input-group col-md-10">
                        <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                            {{ form.cnpj }}
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-10">Nome de usuario:</label>
                    <div class="input-group col-md-10">
                        <span class="input-group-addon">@</span>
                        {{ form.username }}
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-10">Senha de acesso:</label>
                    <div class="input-group col-md-10">
                        <span class="input-group-addon">
                            <i class="fa fa-asterisk"></i>
                        </span>
                        {{ form.password }}
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-10">Confirme sua senha:</label>
                    <div class="input-group col-md-10">
                        <span class="input-group-addon">
                            <i class="fa fa-asterisk"></i>
                        </span>
                        <input oninput="validacaoSenha(this)" required class="form-control" type="password" name="confirm_password" placeholder="Rewrite your password" id="id_confirm_password">
                    </div>
                </div>
                <br>
                <div hidden>
                    {{ form.token }}
                </div>
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-user-plus"></i>
                    Cadastro</button>
            </form>
            <div class="col-md-6">

            <img src="{% static 'core/imgs/texas-gado.png' %}" style="width:100%;">
            </div>
        </div>
    </div>
<script src="{% static 'core/js/core.js' %}"></script>
{% endblock %}
