{% extends 'core/base.html' %}
{% block body %}

{% load staticfiles %}
    <div class="jumbotron">
        <div class="container">
        <br>
        <form class="form-group row" action="/gadosave" method="POST">
            {% csrf_token %}
                <h2>Controle do rebanho - {{ fazenda.nome_empresa }}:</h2>

                <div class="container">
                        <a class="btn btn-default">token: </a>

                        {{ fazenda.token }}
                    </div>
                <br>
                <div class="input-group col-mg-6">
                        <span class="input-group-addon col-mg-6">Peso</span>
                        {{ form.peso }}
                    </div>
                <div class="input-group col-mg-6">
                        <span class="input-group-addon">Brinco</span>
                        {{ form.brinco_id }}
                    </div>
                <button class="btn btn-success" type="submit">Cadastrar</button>
            </form>
    </div>
    </div>
    <div class="container">
        <div class="container">
                <ul class="list-group">

                    <h5>Quantidade de animais cadastrados: {{ rebanho.count }}</h5>
                    {% for gado in rebanho %}
                    <li class="list-group-item">
                        <form id="form_gadolistagem" action="" method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-addon">Peso:</span>
                                <input class="input-group-item" type="number" value="{{ gado.peso }}" name="peso">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Brinco:</span>
                                <input class="input-group-item" type="number" value="{{ gado.brinco_id }}" pattern="[0-9]+$" name="brinco_id">
                            </div>
                            <button class="btn btn-primary" type="submit" onclick="ChangeAction('/gadoupdate/{{ gado.id }}');">Alterar</button>
                            <button class="btn btn-warning" type="submit" onclick="ChangeAction('/gadodelete/{{ gado.id }}');">Deletar</button>

                        </form>
                    </li>
                    {% endfor %}
                </ul>
        </div>
    </div>
<script src="{% static 'core/js/core.js' %}"></script>
{% endblock %}