{% extends 'core/base.html' %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>Bem vindo, controle sua fazenda</h1>
        <h4>comece a ter o controle do seu rebanho.</h4>
        <div class="container"></div>
            <a class="btn btn-success btn-lg" href="{% url 'core_module:login' %}">Login</a>
            <a class="btn btn-primary btn-lg" href="{% url 'core_module:cadastro' %}">Cadastre-se</a>
        </div>
</div>
{% endblock %}