{% extends 'core/base.html' %}
{% block body %}

    <div class="container">
        <div class="container">
                <ul class="list-group">
                    <h5>Quantidade da listagem: {{ rebanho.count }}</h5>
                    {% for gado in rebanho %}
                    <li class="list-group-item">
                            <div class="input-group">
                                <span class="input-group-addon">Peso:</span>
                                <input class="input-group-item" type="number" value="{{ gado.peso }}" name="peso">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Brinco:</span>
                                <input class="input-group-item" type="number" value="{{ gado.brinco_id }}" pattern="[0-9]+$" name="brinco_id">
                            </div>
                    </li>
                    {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}