{% extends 'core/base.html' %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>Insira seus dados:</h1>
        <form class="form-group" action="/login" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-group col-lg-6">
                    <span class="input-group-addon">@</span>
                    {{ form.username }}
                </div>
            </div>
            <div class="row">
                <div class="input-group col-lg-6">
                    <span class="input-group-addon">
                        <i class="fa fa-asterisk"></i>
                    </span>
                    {{ form.password }}
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-user-plus"></i>
                Entrar</button>
        </form>
    </div>
</div>
{% endblock %}